* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

/* Header */


header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.main-header nav ul li a.active{
    color: #ff5e14;
}

.logo img {
    max-width: 170px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    scroll-behavior: smooth;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-header nav ul li {
    list-style: none;
}

.main-header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 17px;
}

.main-header nav ul li a:hover {
    color: #ff5e14;
    transition: 0.5s all ease;
}

/* Hero section */

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(assets/background-image01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-hero {
    padding: 200px 0;
    display: flex;
    align-items: center;

}


.main-hero .hero-content h1 {
    font-size: 70px;
    color: white;
    font-weight: 400;
    -webkit-animation: tracking-in-contract .8s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-contract .8s cubic-bezier(.215, .61, .355, 1.000) both;
    margin-bottom: 25px;
    max-height: 60px;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.main-hero .hero-content span {
    font-weight: 600;
    font-size: 70px;
    color: white;
    margin-top: 15px;
}

.main-hero .hero-content p {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}
/* .main-hero .hero-content .hero-btn {
    transition: 1s all ease;
} */

.main-hero .hero-content .hero-btn a {
    text-decoration: none;
    color: white;
    background-color: #ff5e14;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.5s all ease;
}

.main-hero .hero-content .hero-btn a:hover {
    background-color: #ebebeb;
    transition: 1s all ease;
    color: black;
}

/* card grid */

.card-grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.card img {
    max-width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    padding: 25px 25px;
    border: 1px solid #dce7eb;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 19px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* about us */

#header-img{
    width: 100%;
    height: 500px;
    background: url(assets/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;

}




.about-title-links{
    padding-top: 200px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    color:  white;
    gap: 15px;
}
.about-title-links a{
    color: white;
    text-decoration: none;
    font-size: 21px;
}
.about-title-links p{
    font-size: 20px;
    color: #ff5e14;
}

#about-us{
    padding-top: 60px;
}
.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.about-us .about-us-img img {
    max-width: 100%;
    border-radius: 10px;
}
.about-us .about-us-img img:hover{
    transform: scale(1.02);
    transition: 0.5s all ease;
}
.about-us .about-us-content h4 span {
    color: #ff5e14;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;

}

.about-us .about-us-content h2 {
    margin: 20px 0;
}

.line-flex .line1 {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #ff5e14;
    margin-bottom: 20px;
}


.about-us .about-us-content p {
    font-size: 19px;
    color: #687187;
    line-height: 1.7em
}

.about-us .about-us-content h3 {
    color: gray;
    font-weight: 300;
    margin-left: 7px;
}

.about-us h3 {
    margin: 20px 0;
}

.about-us .about-us-content .box-ceo {
    margin: 50px 0px;
    padding: 25px 25px;
    background-color: #ff5e1408;
    border-left: 2px solid #fff1e8;
}
.about-us .about-us-content .box-ceo:hover{
    transform: translatey(-20px);
    transition: 0.5s all ease;
}
.about-us .about-us-content .box-ceo p {
    color: gray;
    line-height: 1.4em
}

.about-us .about-us-content .box-ceo h5 {
    margin-top: 5px;
    color: gray;
}

/* cards award */

#background {
    margin-top: 100px;
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.301);
}

.count-title {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

.line {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #ff5e14;
    margin-bottom: 20px;
    margin: 20px auto;
}

.count-cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    color: white;
}

.count-card1 {
    background-color: #ff5e14;
    padding: 33px 20px;
    border-radius: 10px;
    transition: 0.3s all ease-in;
}
.count-card1:hover{
    transform: translateY(-20px);
}
.count-card1 .count-card-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.count-card1 .count-card-grid1 h2 {
    font-size: 42px;
}

.count-card1 .count-card-grid1 p {
    font-size: 18px;
}

.count-card1 .count-card-grid1 .icon img {
    max-width: 100%;
    height: 50px;
}

.count-card1 .count-card-grid1 .count-icon {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 21px -2px rgba(255, 255, 255, 0.75);
    align-items: center;
    margin-left: 20px
}


/* why chose us */

.why-chose-us {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.why-chose-us h5 {
    color: #ff5e14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.why-chose-us .title h1 {
    font-weight: bold;
    font-size: 45px;
}

.why-chose-us .title span {
    font-size: 40px;

}

.chose-us-content-img img {
    max-width: 100%;
    height: 480px;
}

.line2 {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #ff5e14;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: 20px left;
}

.why-chose-us p {
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
}

.why-chose-us .why-chose-us-btn a {
    text-decoration: none;
    color: white;
    background-color: #ff5e14;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    margin-right: 10px;
}

.why-chose-us .why-chose-us-btn a{
    transition: 0.2s all ease-in;
}

.why-chose-us .why-chose-us-btn a:hover{
    background-color: black;
    color: white;
    
}

/* footer */

#footer {
    margin-top: 100px;
    background-color: rgba(235, 228, 228, 0.342);
    padding: 100px 0px;

}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
}

.main-footer h5 {
    margin-top: 25px;
    font-size: 15px;
    color: gray;
}

.main-footer .social-media-icons svg {
    margin-top: 50px;
    width: 30px;

}

/* Header links for footer */
.main-footer .header-links h1 {

    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.header-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header-links nav ul li {
    color: gray;
    margin-bottom: 5px;
}

.header-links nav ul li a {
    text-decoration: none;
    color: gray;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s all ease;
}

.header-links nav ul li a:hover{
    color: #ff5e14;
    
}
/* footer addres div */

.main-footer .addres h1 {

    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.main-footer .addres li {
    color: gray;
    margin-top: 15px;
    font-size: 18px;
}


/* News-letter footer */


.main-footer .news-letter h1 {
    margin-left: 20px;
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.main-footer .news-letter h4 {

    color: gray;

    margin-bottom: 20px;
}

.main-footer .news-letter .email {
    display: flex;
    gap: 10px;
}

.main-footer .news-letter input {
    background-color: blanchedalmond;
    padding: 8px 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.main-footer .news-letter .btn {
    background-color: blanchedalmond;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}


/* Team-section-seperate page */

.team-title{
    margin-top: 40px;
}
.team-title h1{
    color: #ff5e14;
}
.team-title p{
    font-size: 20px;
    color: #ff5e14;
}
.our-team {
    padding-top: 90px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    
}
.team-member{
    transition: 0.5s all ease;
}
.team-member:hover{
    transform: translatey(-20px);
    
    
}
/* .out-team .team-member .team-contents{
    background-color: #ff5e1479;
    
} */
.our-team .team-member .team-img img {
    max-width: 100%;
}

.our-team .team-member .team-content {
    padding: 10px 0;
    text-align: center;
}

.our-team .team-member .team-content p {
    color: #ff5e14;
}

.our-team .team-member .socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team .team-member .socials svg {
    width: 30px;
    height: 20px;
    border-radius: 5px;

}


/* Our-projects */
#Our-projects {
    padding-top: 100px;

}

.projects-title {
    text-align: center;
    margin-bottom: 30px;
    color: #ff5e14;
}
.projects-title p{
    font-size: 25px;
    margin-top: 5px;
}
.our-latest-projects {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.project1{
    transition: 0.5s all ease;
}
.project1:hover{
    transform: translateY(-20px);
    
}
.our-latest-projects .project1 .our-projects-img img {
    max-width: 100%;
   
  
}


.our-latest-projects .project1 .our-projects-content h3 {
    text-align: center;
    padding: 5px 0;
}

.our-latest-projects .project1 .our-projects-content span {
    color: #ff5e14;
}

/* fun-facts */
#fun-fact {
    margin-top: 50px;
    background-color: #b3b6bde0;
    padding: 100px;
}

.fun-fact-counting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.counting1 {
    display: flex;
    gap: 20px;
    
}


.counting1 .img svg {
    width: 70px;
    fill: #ff5e14;
}

.counting1 .counting-content h1 {
    font-size: 45px;
}

.counting1 .counting-content p {
    color: black;
}




/* Testimonials section */


.testimonials-grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.testimonial-card{
    background-color: white;
    box-shadow: 0 0 15px rgba(230, 225, 225, 0.5);
    padding: 60px 60px;
}
.testimonial-client{
    text-align: center;
}
.testimonial-client img{
   border-radius: 50%;
   margin-bottom: 15px;
}
.testimonial-client h4{
    font-weight: 300;
}
.testimonial-client h4 span{
    margin-bottom: 20px;
    font-size: 15px;
    color: gray;
}
.testimonial-quote{
    margin-top: 13px;
    color: gray;
    line-height: 1.7em;
    font-size: 18px;
   
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    #hero {
        display: grid;
        grid-template-columns: 1fr;
        background-position: center;
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-us {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .count-cards {
        grid-template-columns: 1fr 1fr;
    }

    .why-chose-us {
        grid-template-columns: 1fr 1fr;
    }

    .main-footer {
        grid-template-columns: 1fr 1fr;
    }
    .our-latest-projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .our-team{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .fun-fact-counting{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    #fun-fact{
        padding: 0;
        display: flex;
        flex-direction: column;

        align-items: center;

        justify-content: center;
    }
   
}

@media screen and (max-width: 699px) and (min-width: 1px) {
    header{
        display: none;
    }
    .main-hero {
        padding-top: 0;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr;
        background-position: left;
    }

    .main-hero .hero-content h1 {
        padding-bottom: 5px;
        animation: none;
    }
    .main-hero .hero-content span {
        padding-top: 70px;
    }
    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-us {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-hero .hero-content h1 {
        font-size: 50px;
    }

    .count-cards {
        width: 70%;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .why-chose-us {

        grid-template-columns: 1fr;
    }

    .chose-us-content-img img {
        width: 100%;
    }

    .main-footer {
        padding: 60px 60px;
        grid-template-columns: 1fr;

    }
    .our-latest-projects{
        display: grid;
        grid-template-columns: 1fr;
    }
    .our-team{
        display: grid;
        grid-template-columns: 1fr;
    }
    .our-team img{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #fun-fact{
        padding: 80px;
    }
    .fun-fact-counting{
        display: grid;
        grid-template-columns: 1fr;
        gap: 55px;
    }
    #header-img{
        
        background-position: center left;
        height: 400px;
    }
    .about-title-links{
        padding: 0;    
    }
    .about-title-links a{
        font-size: 15px;
    }
    .header{
        display: grid;
        grid-template-columns: 1fr
    }
    .testimonials-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .testimonial-quote{
        font-size: 15px;
        text-align: center;
    }
}